body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#principal {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #0056b3;
}
.contador_de_elementos {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
