body {
    background-color: #222;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bird {
    border-radius: 20px;
    max-width: 100px;
    transition: transform 0.5s ease;
    margin-left: 20px;
}
